---
// Static redirect to mindloft.org
---
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0;url=https://mindloft.org" />
  <link rel="canonical" href="https://mindloft.org" />
  <title>Redirecting to MindLoft</title>
</head>
<body>
  <p>Redirecting to <a href="https://mindloft.org">mindloft.org</a>...</p>
</body>
</html>
